@charset  "utf-8";
/* CSS Document */
/*
==============================
========= General ============
==============================
*/
body {
	font-family: 'Roboto',sans-serif;
	background: #CCE3E8;
	font-size: 1em;
}

h1,h2,h3 {
	font-weight: 700;
	margin: 20px 0;
}

h1 {
	font-size: 1.5em;
}

h2 {
	font-size: 1.25em;
}

h3 {
	font-size: 1.1px;
}

.wrapper {
	width: 1140px;
	margin: 0 auto;
}

.slider {
	width: 100%;
}

.slider img {
	width: 100%;
}

img {
	width: 100%;
	height: auto;
}

p {
	padding: 5px 0;
}

/*
====================================
========= Header/Footer ============
====================================
*/
header,footer {
	background-color: #fff;
}

footer {
	margin-top: 10px;
	padding: 10px 0;
	min-height: 50px;
}

/*
============================
========= Links ============
============================
*/
a {
	text-decoration: none;
}

/*
===========================
========= Nav ============
===========================
*/
nav ul {
	text-align: left;
	display: inline;
	margin: 0;
	padding: 15px 4px 17px 0;
	list-style: none;
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.15);
	-moz-box-shadow: 0 0 5px rgba(0,0,0,0.15);
	box-shadow: 0 0 5px rgba(0,0,0,0.15);
}

nav ul li {
	font: bold 12px/18px sans-serif;
	display: inline-block;
	margin-right: -4px;
	position: relative;
	padding: 15px 20px;
	background: #fff;
	cursor: pointer;
	-webkit-transition: all .2s;
	-moz-transition: all .2s;
	-ms-transition: all .2s;
	-o-transition: all .2s;
	transition: all .2s;
}

nav ul li:hover {
	background: #555;
	color: #fff;
}

nav ul li ul {
	padding: 0;
	position: absolute;
	top: 48px;
	left: 0;
	width: 150px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	display: none;
	opacity: 0;
	visibility: hidden;
	-webkit-transiton: opacity .2s;
	-moz-transition: opacity .2s;
	-ms-transition: opacity .2s;
	-o-transition: opacity .2s;
	-transition: opacity .2s;
}

nav ul li ul li {
	background: #555;
	display: block;
	color: #fff;
	text-shadow: 0 -1px 0 #000;
}

nav ul li ul li:hover {
	background: #666;
}

nav ul li:hover ul {
	display: block;
	opacity: 1;
	visibility: visible;
}

/* ------------ 
nav ul li {
	width:190px;
	text-align:center;
	position:relative;
	float:left;
	line-height:45px;
}
nav ul li a:hover {
	background-color: rgba(0,0,0,.2);
}

nav ul li ul li {
	width:190px;
	text-align:center;
	position:relative;
	float:left;
	background-color:#005DAC;
	border-top:solid 1px rgba(0,0,0,0.3);
	border-bottom:solid 1px rgba(255,255,255,0.1);
}
nav ul li ul li a {
	color:white;
}
nav a {
	display:block;
}
nav div ul li ul {
	position:absolute;
	z-index:999;
	left:-999em;
	background-color:#005DAC;
}
nav ul li:hover ul {
	left:auto;
}
nav ul li.current a {
	background-color:rgba(0,0,0,.3);
}
*/
/*
===========================
========= Form ============
===========================
*/
.form {
	margin-left: auto;
	margin-right: auto;
	max-width: 100%;
	background: #F7F7F7;
	padding: 25px 15px 25px 10px;
	font: 12px Roboto,sans-serif;
	font-weight: 700;
	color: #888;
	text-shadow: 1px 1px 1px #FFF;
	border: 1px solid #E4E4E4;
}

.form h1 {
	font-size: 25px;
	padding: 0 0 10px 40px;
	display: block;
	border-bottom: 1px solid #E4E4E4;
	margin: -10px -15px 30px -10px;
	color: #888;
}

.form h1>span {
	display: block;
	font-size: 11px;
}

.form label {
	display: block;
	margin: 0;
}

.form label>span {
	float: left;
	width: 10%;
	text-align: right;
	padding-right: 10px;
	margin-top: 10px;
	color: #888;
}

.form input[type="text"],.form input[type="email"],.form textarea,.form select {
	border: 1px solid #DADADA;
	color: #888;
	height: 30px;
	margin-bottom: 16px;
	margin-right: 6px;
	margin-top: 2px;
	outline: 0 none;
	padding: 3px 3px 3px 5px;
	width: 70%;
	font-size: 12px;
	line-height: 15px;
	box-shadow: inset 0 1px 4px #ECECEC;
	-moz-box-shadow: inset 0 1px 4px #ECECEC;
	-webkit-box-shadow: inset 0 1px 4px #ECECEC;
}

.form textarea {
	padding: 5px 3px 3px 5px;
}

.form select {
	background: #FFF url(down-arrow.png) no-repeat right;
	background: #FFF url(down-arrow.png) no-repeat right);
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	text-indent: .01px;
	text-overflow: ;
	width: 70%;
	height: 35px;
	line-height: 25px;
}

.form textarea {
	height: 100px;
}

.form .button {
	background: #E27575;
	border: none;
	padding: 10px 25px;
	color: #FFF;
	box-shadow: 1px 1px 5px #B6B6B6;
	border-radius: 3px;
	text-shadow: 1px 1px 1px #9E3F3F;
	cursor: pointer;
}

.form .button:hover {
	background: #CF7A7A;
}

.form input[type="checkbox"] {
	display: block;
	float: left;
}

.form-checkbox {
	float: left;
	padding: 0 40px 0 5px;
}

fieldset {
	border: 1px solid #999;
	padding: 15px 5px;
}

legend {
	padding: 20px 10px;
}

.form p {
	padding-top: 25px;
}