<!DOCTYPE html>
<html ng-app="UAID-Admin">
  <head>
    <meta charset="utf-8">
    <title>Admin</title>
    <link rel="stylesheet" type="text/css" href="../mobilemenu.css">
    <link rel="stylesheet" href="bootstrap.min.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="../bootstrap.min.js"></script>
    <script src="../functions.min.js"></script>
    <link rel="stylesheet" href="../style.css">


  </head>
  <body ng-controller="UAID-AdminController as uaid">
    <header>
        <!-- Begin Navigation -->
        <nav class="navbar navbar-default navbar-fixed-top">
          <div class="container">
            <div class="row">
              <div class="col-sm-12">
                <div class="navbar-header">
                  <button type="button" class="btn navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <div id="logo">
                    <p class="site-name">
                      <a class="navbar-brand" href="//uaidutah.org/" title="UAID">UAID</a>
                    </p>
                  </div>
                </div>
                <div class="collapse navbar-collapse">
                  <ul class="nav navbar-nav">
                    <li><a href="//uaidutah.org">Home</a></li>
                    <li><a href="/">Gift Box</a></li>
                    <li><a href="../../apply">Application</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </nav>
        <!-- End Navigation -->
    </header>
<!-- End of Header Wrapper -->


<!-- Begin of Container -->
<main class="container">
	<div class="main-content-area">
  	<div class="row post-inner-content" role="main">

<!-- Begin Content -->
    <span ng-show="uaid.authed !== true">
      <input ng-model="uaid.email" type="text" value="" placeholder="Email" required>
      <input ng-model="uaid.pass" type="password" value="" placeholder="Password" required>
      <button ng-click="uaid.validate();">Login</button><br>
    </span>
    <button ng-show="uaid.authed == true" ng-click="uaid.retrieveCsv();">Retrieve excel database</button>
		<br>
    <div  style="clear: right;"><img ng-src="{{recip.photo}}">{{recip.fname}}<br></div>
			<div style="width: 800px; margin: auto">
				<div ng-repeat="recip in uaid.recipsArr">
					<div id="leftcolumn">
						<img src="{{recip.photo}}" class="fullSizeImage">
					</div>
					<div id="rightcolumn" style="border-bottom: 2px solid">
						<h2>{{recip.fname}}</h2>
						<hr>
						<p style="padding:0;">Age: {{recip.age}}</p>
						<p style="padding:0;">Intellectual Age: {{recip.intage}}</p>
						<p style="padding:0;">Address: {{recip.address}}</p>
						<p style="padding:0;">Email: {{recip.contactEmail}}</p>
						<hr>
						<p>Wish List:</p>
						<ul ng-repeat="gift in recip.gifts">
								<li>{{gift.gift}}  <span ng-show="gift.size">Size:</span>        {{gift.size}}  <span ng-show="gift.genre"> Genre:</span>         {{gift.sizenum}}{{gift.genre}}</li>
						</ul>
						<a><button ng-show="!recip.approved || !recip.denied" ng-click="uaid.approve(uaid.recipsIds[$index], $index);" type="button">Approve</button></a>
						<a><button ng-show="!recip.approved || !recip.denied" ng-click="uaid.deny(uaid.recipsIds[$index], $index);" type="button">Deny</button></a>
						<p ng-show="recip.approved" style="color: green;">Successfully Approved!</p>
						<p ng-show="recip.denied" style="color: red;">Recipient has been denied.</p>
					</div>
				</div>
    	</div>
      <p ng-show="uaid.noUsers">There are currently no users awaiting approval.</p>
		</div>
	</div>
</main>


  </body>
  <script src="../angular.js"></script>
  <script src="../admin.js"></script>
</html>
