<!DOCTYPE HTML>
<html lang="en-US" ng-app="UAID-Giftbox">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<title>UAID Gift Box</title>
<!-- CSS -->
<link rel="stylesheet" href="bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link href='//fonts.googleapis.com/css?family=Open+Sans%3A400italic%2C400%2C600%2C700%7CRoboto+Slab%3A300%2C400%2C700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="flexslider.css">
<link rel="stylesheet" href="style.css">

<!-- Jquery -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="bootstrap.min.js"></script>
<script src="functions.min.js"></script>

<!-- Scripts -->
<script src="angular.js"></script>
<script src="app.js"></script>

<script src="flexslider.min.js"></script>
<script type="text/javascript">
  $(window).load(function() {
    $('.flexslider').flexslider({
			animation: "fade",
			easing: "swing",
			direction: "horizontal",
			reverse: "false",
			animationLoop: true,
			smoothHeight: false,
			startAt: 0,
			slideshow: true,
			slideshowSpeed: 7000,
			animationSpeed: 600,
			initDelay: 0,
			randomize: false,
			fadeFirstSlide: true,
			pauseOnAction: true,
			pauseOnHover: false,
			pauseInvisible: true,
			useCSS: true,
			touch: true
		});
  });
</script>
</head>

<body ng-controller="UAID-Controller as uaid">
	<a class="sr-only sr-only-focusable" href="#content">Skip to main content</a>
	<div id="page">
		<header>
			<nav class="navbar navbar-default navbar-fixed-top">
				<div class="container">
					<div class="row">
						<div class="col-sm-12">
							<div class="navbar-header">
								<button type="button" class="btn navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
									<span class="sr-only">Toggle navigation</span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
								</button>
								<div id="logo">
									<p class="site-name">
										<a class="navbar-brand" href="//uaidutah.org/" title="UAID">UAID</a>
									</p>
								</div>
							</div>
							<div class="collapse navbar-collapse">
								<ul class="nav navbar-nav">
									<li><a href="//uaidutah.org">Home</a></li>
									<li class="active"><a href="/">Gift Box</a></li>
									<li><a href="../../apply">Application</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</nav>
		</header>
		<div id="content">
			<div class="top-section">
				<div class="flexslider">
					<ul class="slides">
						<li>
							<img src="image1.jpg">
						</li>
						<li>
							<img src="image2.jpg">
						</li>
						<li>
							<img src="image3.jpg">
						</li>
						<li>
							<img src="image4.jpg">
						</li>
					</ul>
				</div>
				<div class="cfa">
					<div class="container">
						<div class="col-sm-8">
							<span class="cfa-text">Help us provide for those with intellectual disabilities.</span>
						</div>
						<div class="col-sm-4">
							<a class="btn btn-lg cfa-button" ng-click="uaid.gotoRecips();">Adopt an Applicant</a>
						</div>

					</div>
				</div>
			</div>

			<main class="container">
				<div class="main-content-area">
					<div class="row post-inner-content" role="main">
						<article class="hentry">
							<header class="page-header" style="text-align: center;">
								<h1 class="entry-title">Holiday Gift Box</h1>
							</header>
							<div class="entry-content">
								<div class="row">
									<div class="col-md-8 col-md-offset-2">
										<p>UAID's Holiday Gift Box impacts the lives of nearly 1,400 people with intellectual disabilities each year from all corners of the state. The program provides basic need resources like shoes, coats, sheets, disposable undergarments, and personal hygiene items. Simliar in design to programs like Angel Tree or Sub for Santa, Holiday Gift Box is the only program that supports both adults and children with disabilities.</p>
									</div>
								</div>
							</div>
						</article>
					</div>
				</div>
        <a name="applicants"></a>
				<div class="row main-content-area profiles">
					<div class="profile post-inner-content" ng-repeat="recip in uaid.recipsArr | limitTo: uaid.limit">
						<img ng-src="{{recip.photo}}" alt="">
						<div class="profile-info">
							<h3 class="profile-name">{{ recip.fname }}</h3>
							<hr>
							<p class="profile-age">{{ recip.age }} years old</p>
							<hr>
							<p class="profile-intage">Intellectually {{ recip.intage }} years old</p>
							<a ng-href="/recipients/{{uaid.recipsIds[$index]}}"><button class="btn-block profile-adopt">Adopt Me</button></a>
						</div>
					</div>
					<button ng-if="uaid.recipsArr > 4" class="btn-lg btn-block" ng-click="uaid.seeMoreRecips()">See More</button>
				</div>
			</main>
		</div>

		<div id="footer-area">
			<footer id="colophon">
				<div class="site-info container">
					<p>&copy; Utah Association for Intellectual Disabilities - <a href="/admin">Admin</a></p>
				</div>
				<div class="scroll-to-top"><i class="fa fa-angle-up"></i></div>
			</footer>
		</div>
	</div>
</body>
</html>
