<!DOCTYPE HTML>
<html lang="en-US" ng-app="UAID-Giftbox">
<head>
<meta charset="utf-8">
<title>UAID Gift Box Event</title>

<!-- TELLS PHONES NOT TO LIE ABOUT THEIR WIDTH -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<!-- Jquery -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>

<!-- Google Font -->
<link href='https://fonts.googleapis.com/css?family=Roboto|Open+Sans:400,700' rel='stylesheet' type='text/css'>

<!-- CSS -->
<link rel="stylesheet" type="text/css" href="giftbox.css">
<link rel="stylesheet" type="text/css" href="flexslider.css" type="text/css">
<link rel="stylesheet" type="text/css" href="mobilemenu.css">

<!-- Scripts -->
<script src="angular.js"></script>
<script src="app.js"></script>


<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
<![endif]-->

<!-- Mobile Menu -->
	<script>
		$(document).ready(function(){
			$(".nav-button").click(function () {
			$(".nav-button,.primary-nav").toggleClass("open");
			});
		});
	</script>
<!-- End Mobile Menu -->

<!-- FlexSlider -->
<script src="jquery.flexslider.js"></script>

<script type="text/javascript" charset="utf-8">
  $(window).load(function() {
    $('.flexslider').flexslider();
  });
</script>
<!-- End Slider -->


</head>

<body ng-controller="UAID-Controller as uaid">
    <!-- Begin Header Wrapper -->
        <header>
            <!-- Begin Navigation -->
						<nav class="wrapper">
						    	<button class="nav-button">Toggle Navigation</button>
						        <ul class="primary-nav">
						            <li><a href="./">Home</a></li>
						            <li><a href="#">About Us</a>
						                <ul>
						                    <li><a href="#">Our Mission</a></li>
						                    <li><a href="#">Who We Are</a></li>
						                    <li><a href="#">Who We Serve</a></li>
						                </ul>
						            </li>
						            <li><a href="#">Support Us</a>
						                <ul>
						                    <li><a href="#">Volenteer</a></li>
						                    <li><a href="#">Ways To Help</a></li>
						                    <li><a href="#">Wish List</a></li>
						                </ul>
						            </li>
						            <li><a href="#">Programs</a>
						                <ul>
						                    <li><a href="#">Holiday Gift Box</a></li>
						                    <li><a href="#">Adopt Now</a></li>
						                </ul>
						            </li>
						            <li><a href="#">Blog</a></li>
						            <li><a href="#">Contact Us</a></li>
						            <li><a href="/apply">Gift Box Application</a></li>
						        </ul>
						    <div class="clear"></div>
						</nav>
            <!-- End Navigation -->
        </header>
    <!-- End of Header Wrapper -->


<!-- Begin of Container -->
<div id="container">
    <!-- Flex Slider -->
        <div class="flexslider">
          <ul class="slides">
            <li>
              <img src="image1.jpg" />
            </li>
            <li>
              <img src="image2.jpg" />
            </li>
            <li>
              <img src="image3.jpg" />
            </li>
            <li>
              <img src="image4.jpg" />
            </li>
          </ul>
        </div>
        <!-- End Slider Div -->
    <!-- Begin Content -->
    <div class="wrapper">


        <p>Volunteering at UAID is the perfect way to afford opportunities to those with intellectual disabilities. There are many benefits to volunteering with UAID. This organization was founded by volunteers and is driven by volunteers. Volunteers are needed to continue to support us as we grow and develop new and innovative programs . We are looking for the next generation of volunteers to help us take our mission, purpose, and services to the next level.</p><br>

        <button class="button">Volunteer</button>

    	<h1>Holiday Gift Box</h1>

        <p>This program is a year long project resulting in holiday gifts for individuals with intellectual disabilities who are low income, live in group homes, and receive meager benefits from SSI. It brings joy to many who are otherwise overlooked during the holidays.</p>

        <p>A man with an intellectual disability may be physically 64 years of age, yet have an intellectual age of around 6. He expects and anxiously awaits the magic of the Holiday season. Yet, he does not have much in the way of family, nor does enough money to shop for himself. That is where UAID steps in with the Holiday Gift Box program.</p>

        <p>As the largest program offered by UAID, Holiday Gift Box impacts the lives of nearly 1,400 people with intellectual disabilities each year from all corners of the state. The program provides basic need resources like shoes, coats, sheets, disposable undergarments, and personal hygiene items. Simliar in design to programs like Angel Tree or Sub for Santa, Holiday Gift Box is the only program that supports both adults and children with disabilities. Many of the children that are accepted into Holiday Gift Box program are refered to UAID by the Angel Tree program or Sub for Santa because they have exhausted their resources and cannot serve these individuals.</p>

        <p>The program follows a very intentional timeline to stage the project each year. In early August, UAID works with local realtors to find a donated space to house the staging of the event for two and half months. During this time, UAID works closely with service providers, support service coordinators, and independent living centers to refer and identify low income, intellectually or developmentally disabled individuals in need of resources. Outreach includes individuals with disabilities from rural communities and Native American reservations. The faces of children and adults with a list of their individual wishes are created in the form of a holiday ornament. Ornaments are adopted by individuals, groups and organizations who supply the requested items either through direct purchase or cash contributions.</p>

        <p>In late October, hundreds of volunteers come to move, unpack, and begin staging the event, while other volunteers begin creating ornaments. Through a mix of individual donors and local business, nearly half of the individuals are sponsored. Yet each year, UAID fulfills the wishes of the remaining unsponsored individuals; if an application is accepted, no person will be turned away.</p>

        <!-- Begin Display Profiles -->
        <div class="displayProfile">
        <h2>Adopt Us!</h2>
        	<!-- Begin Persona Wrapper -->
            <div class="personaWrapper">
                <!--Begin Personal Profile-->
                <div class="profile" ng-repeat="recip in uaid.recipsArr | limitTo: uaid.limit">
                    <h3>{{recip.fname}}</h3>
                    <img src="profile1.jpg" alt="" />
                    <span><strong>Age: </strong>{{recip.age}}</span> <span><strong>Intellectual Age: </strong>{{recip.intage}}</span>
                    <ul>
                        <li>Items Needed 12</li>
                        <li>Items Needed 2</li>
                        <li>Items Needed 3</li>
                        <li>Items Needed 4</li>
                    </ul>
                    <button>Adopt Me</button>
                </div>
                <!--End Personal Profile-->

                <button type="button" ng-click="uaid.seeMoreRecips()">See More</button>
                <div class="clear"></div>
            </div>

        <!-- End Display Profiles -->


		</div>
        <!-- End Persona Wrapper -->
    </div>
    <!-- End Content -->
</div>
<!-- End of Container -->
<!-- Begin Footer -->
<footer>
	<div class="wrapper">
		<p>Copyright 2016. All Rights Reserved.</p>
  </div>
</footer>
<!-- End Footer -->
</body>
</html>
