<!DOCTYPE HTML>
<html lang="en-US" ng-app="UAID-Rec">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<title>UAID Gift Box</title>
<!-- CSS -->
<link rel="stylesheet" href="../bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link href='//fonts.googleapis.com/css?family=Open+Sans%3A400italic%2C400%2C600%2C700%7CRoboto+Slab%3A300%2C400%2C700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="../style.css">

<!-- Jquery -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="../bootstrap.min.js"></script>
<script src="../functions.min.js"></script>

<!-- Scripts -->
<script src="../angular.js"></script>
<script src="../rec.js"></script>

</head>

<body ng-controller="UAID-RecController as uaid">
	<a class="sr-only sr-only-focusable" href="#content">Skip to main content</a>
	<div id="page">
		<header>
			<nav class="navbar navbar-default navbar-fixed-top">
				<div class="container">
					<div class="row">
						<div class="col-sm-12">
							<div class="navbar-header">
								<button type="button" class="btn navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
									<span class="sr-only">Toggle navigation</span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
								</button>
								<div id="logo">
									<p class="site-name">
										<a class="navbar-brand" href="//uaidutah.org/" title="UAID">UAID</a>
									</p>
								</div>
							</div>
							<div class="collapse navbar-collapse">
								<ul class="nav navbar-nav">
									<li><a href="//uaidutah.org">Home</a></li>
									<li class="active"><a href="/">Gift Box</a></li>
									<li><a href="../../apply">Application</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</nav>
		</header>
		<div id="content">
			<main class="container">
				<div class="main-content-area">
					<div class="row post-inner-content" role="main">
						<article class="hentry">
							<header class="page-header" style="text-align: center;">
								<h1 class="entry-title">{{ uaid.recData.fname }}</h1>
								<a class="button" href="/">Back</a>
							</header>
							<div class="entry-content">
								<div class="row">
									<div class="col-sm-12 col-md-4">
										<img src="{{ uaid.recData.photo }}">
									</div>
									<div class="col-sm-12 col-md-8">
										<p class="profile-age">{{ uaid.recData.age }} years old</p>
										<hr>
										<p class="profile-intage">Intellectually {{ uaid.recData.intage }} years old</p>
										<hr>
										<h3>Wish List</h3>
										<ul ng-repeat="gift in uaid.recData.gifts">
											<li>{{ gift.gift }} <span ng-if="gift.size">Size: {{ gift.size }} {{ gift.sizenum }}</span><span ng-if="gift.genre">Genre: {{ gift.genre }}</span></li>
										</ul>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-12">
										<div  ng-show="uaid.subApp == false">
											<div ng-if="uaid.recData.approved == 1">
												<h2>Adopt Me</h2>
												<form ng-submit="uaid.adopt()" name="AdopterInfo" enctype="multipart/form-data">
													<fieldset>
														<legend>Your Contact Information</legend>
														<div class="form-group col-md-6">
															<label for="firstName">First Name:</label>
															<input class="form-control" ng-model="uaid.adopterFName" type="text" name="firstName" value="" placeholder="First Name" pattern="[a-zA-Z]{3,99}" required>
														</div>
														<div class="form-group col-md-6">
															<label for="lastName">Last Name:</label>
															<input class="form-control" ng-model="uaid.adopterLName" type="text" name="lastName" value="" placeholder="Last Name" pattern="[a-zA-Z -._]{3,99}" required>
														</div>
														<div class="form-group col-md-6">
															<label for="phone">Phone:</label>
															<input class="form-control" ng-model="uaid.adopterPhone" type="text" name="primaryContactPhone" value="" placeholder="801-575-7777" pattern="[0-9()-]{10,20}" required>
														</div>
														<div class="form-group col-md-6">
															<label for="email">E-mail:</label>
															<input class="form-control" ng-model="uaid.adopterEmail" type="email" name="email" value="" placeholder="JohnSmith@gmail.com" required>
														</div>
													</fieldset>
													<button class="btn-lg">Adopt</button>
												</form>
											</div>
										</div>
										<div ng-show="uaid.subApp == true">
											<h2>Thank You!</h2>
											<p>Thank you for adopting! An email has been sent to you with more information. If you don't see the email, please check your spam folder.</p>
										</div>
									</div>
								</div>
							</div>
						</article>
					</div>
				</div>
			</main>
		</div>
		<div id="footer-area">
			<footer id="colophon">
				<div class="site-info container">
					<p>&copy; Utah Association for Intellectual Disabilities - <a href="/admin">Admin</a></p>
				</div>
				<div class="scroll-to-top"><i class="fa fa-angle-up"></i></div>
			</footer>
		</div>
	</div>
</body>
</html>
